/.vs
/SBCentralControl/bin
/SBCentralControl/obj
/SBCentralControl/.vs
/SmartBotReceiveMsg/.vs
/SmartBotReceiveMsg/bin
/SmartBotReceiveMsg/obj
/kanshufan/.vs
/kanshufan/bin
/kanshufan/obj
/kanshufan/packages
